
.aa {
    border: none;
    background: url('aa.png') no-repeat top left;
   background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}
.aa:active {
    border: none;
    background: url('aa_down.png') no-repeat top left;
   background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}


.bb {
    border: none;
    background: url('bb.png') no-repeat top left;
     background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}

.bb:active {
    border: none;
    background: url('bb_down.png') no-repeat top left;
   background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}

.cc {
    border: none;
    background: url('cc.png') no-repeat top left;
    background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}

.cc:active {
    border: none;
    background: url('cc_down.png') no-repeat top left;
   background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}

.dd {
    border: none;
    background: url('dd.png') no-repeat top left;
    background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}

.dd:active {
    border: none;
    background: url('dd_down.png') no-repeat top left;
   background-size:100% 100%;
    padding: 2px 8px;
    font-weight:bold;
    min-width:114px;
}
